html{
  background-image: url("../media/fond_recettes.jpg");
}

.text_icon{
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bruschetta{
  background-image:  url("../media/bruschetta.jpg"); 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#soup{
 background-image: url("../media/soup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#tarte_pomme{
  background-image:url("../media/tarte_pomme.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#lait_miel{
  background-image: url("../media/lait_miel.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#mushroom{
  background-image: url("../media/mushroom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#poulet{
  background-image: url("../media/poulet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

span{
  margin: 10px;
}
.text_icon h1 {
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px black;
}

.description {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

#info_recettes {
    display: flex;
    justify-content: center;
}

#info_recettes img {
    width: 480px;
    height: 80px;
}

hr {
    width: 70%;
    color: gray;
}

.ingredients {
    margin-bottom: 32px;
}

h3{
    text-align: center;
    font-weight: 300;
}

li {
    text-align: center;
    padding-top: 16px;
    list-style-type: none;    
    color: rgba(0, 0, 0, 0.8);
}

.ingredients li:before {
    content: "- ";    
}

#info-preparation {
    display: flex;
    justify-content: center;
}

#info-preparation img {
    width: 480px;
    height: 112px;
    margin: 16px 0;
}

.consignes {
    margin-bottom: 32px;
}

.consignes li {
    list-style-type: decimal;
}
@media (max-width: 650px){
  .description{
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-size:18px;
  }
  .consignes{
    margin: 0px;
    text-align: center;
  }
  h3{
    margin: 0px;
  }
  li{
    margin-left: 0px;

  }
  .text_icon h1{
    font-size:32px;
  }
  .text_icon{
    height:440px ;
  }
}